<div class="well">
  <div class="row-fluid">
    <div class="span10">
      <p class='lead text-primary'>Курс лечения </p>
    </div>
    <div align="right" class="span2">
      <%= link_to '<i class="fa fa-pencil text-primary"></i>    '.html_safe, edit_treatment_path(id: treatment.id), title: 'Редактировать', rel: 'tooltip' %>
      <a href="#delete-confirm-dat-<%= counter %>" data-id="<%= treatment.id %>" class="delete-confirm-dat-<%= counter %>" title="Удалить" rel="tooltip"><i class="fa fa-trash-o text-error"></i></a>
    </div>
  </div>

  <div class="modal fade" id="delete-confirm-dat-<%= counter %>">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Подтверждение удаления</h3>
    </div>
    <div class="modal-body">
      <p>Вы действительно хотите удалить курс лечения от доктора <%= treatment.dname %> <%= treatment.dsurname %> (<%= treatment.dclinic %>) начатый <%= Russian.strftime(treatment.tdate, '%e %B %Y') %> года?</p>
    </div>
    <div class="modal-footer">
      <%= link_to 'Удалить', treatment_path(id: treatment.id), method: :delete, :class => 'btn btn-danger' %>
      <a href="#" data-dismiss="modal" class="btn">Отмена</a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <h4>Схема:</h4>
    </div>
    <div class="span9">
      <h4><%= treatment.tprog %></h4>
    </div>
  </div>
  <div class="row-fluid">
    <% @status = status(treatment) %>
    <div class="span3">
      <h4>Статус:</h4>
    </div>
    <div class="span9">
      <h4><%= @status %></h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4>Начало:</h4>
    </div>
    <div class="span9">
      <h4><%= Russian.strftime(treatment.tdate, '%e %B %Y') %> года</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4>Фаза 0:</h4>
    </div>
    <div class="span9">
      <h4>С <%= Russian.strftime(treatment.tph0_s, '%e %B') %> по <%= Russian.strftime(treatment.tph0_e, '%e %B') %></h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4>Фаза 1:</h4>
    </div>
    <div class="span9">
      <h4>С <%= Russian.strftime(treatment.tph1_s, '%e %B')  %> по <%= Russian.strftime(treatment.tph1_e, '%e %B')  %></h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <h4>Фаза 2:</h4>
    </div>
    <div class="span9">
      <h4>С <%= Russian.strftime(treatment.tph2_s, '%e %B')  %> по <%= Russian.strftime(treatment.tph2_e, '%e %B')  %></h4>
    </div>
  </div>

</div>