</div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption-header text-center">
        <h1 class="text-success">КАБИНЕТ СИМБИОФАРМ</h1>
      </div>
      <%= image_tag('ps_index.png') %>
      <div class="container">
        <div class="carousel-caption text-center">
          <p class="lead">Ваш персональный помошник</p>
          <%= link_to "Войти", signin_path, class: "btn btn-large btn-success" %>
          <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-success" %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption-header text-center">
        <h1 class="text-error">КАБИНЕТ СИМБИОФАРМ</h1>
      </div>
      <%= image_tag('s1_index.png') %>
      <div class="container">
        <div class="carousel-caption text-center">
          <p class="lead">Ваш персональный помошник</p>
          <%= link_to "Войти", signin_path, class: "btn btn-large btn-danger" %>
          <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-danger" %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption-header text-center">
        <h1 class="text-primary">КАБИНЕТ СИМБИОФАРМ</h1>
      </div>
      <%= image_tag('s2_index.png') %>
      <div class="container">
        <div class="carousel-caption text-center">
          <p class="lead">Ваш персональный помошник</p>
          <%= link_to "Войти", signin_path, class: "btn btn-large btn-primary" %>
          <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="carousel-caption-header text-center">
        <h1 class="text-info">КАБИНЕТ СИМБИОФАРМ</h1>
      </div>
      <%= image_tag('ss_index.png') %>
      <div class="container">
        <div class="carousel-caption text-center">
          <p class="lead">Ваш персональный помошник</p>
          <%= link_to "Войти", signin_path, class: "btn btn-large btn-info" %>
          <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-info" %>
        </div>
      </div>
    </div>

  </div>
</div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
    <div class="container">





