
<%= f.fields_for :treatments do |t| %>

    <div class="control-group">
        <%= t.label :dname, 'Имя врача', class: 'control-label' %>
        <div class="controls">
             <%= t.text_field :dname, class: 'input-large' %>
        </div>
    </div>

    <div class="control-group">
        <%= t.label :dsurname, 'Фамилия врача', class: 'control-label' %>
        <div class="controls">
           <%= t.text_field :dsurname, class: 'input-large' %>
        </div>
    </div>

    <div class="control-group">
        <%= t.label :dcliic, 'Название клиники', class: 'control-label' %>
        <div class="controls">
            <%= t.text_field :dclinic, class: 'input-large' %>
        </div>
    </div>

    <div class="control-group">
        <%= t.label :tprog, 'Тип схемы', class: 'control-label' %>
        <div class="controls">
            <%= t.select :tprog, [['Стандарт - Взрослые','Стандарт - Взрослые'],['Стандарт - Дети','Стандарт - Дети'],['Аллергия - Взрослые','Аллергия - Взрослые'],['Аллергия - Дети','Аллергия - Дети']],{}, {class:'span3'} %>
        </div>
    </div>

    <div class="control-group">
        <%= t.label :tdate, 'Дата начала лечения', class: 'control-label' %>
        <div class="controls" id="tdate">
          <div class="input-append date">
            <%= t.text_field :tdate, class: 'input-small', readonly: 'true' %>
            <span class="add-on"><i class="fa fa-calendar-o"></i></span>
          </div>

          <script type="text/javascript">
              $('#tdate .input-append.date').datepicker({
                  format: 'yyyy-mm-dd',
                  todayBtn: true,
                  language: "ru",
                  autoclose: true,
                  todayHighlight: true
              });
          </script>
        </div>
    </div>
<% end %>